asgiref==3.7.2
async-timeout==4.0.3
channels==4.0.0
channels-redis==4.1.0
click==8.1.7
colorama==0.4.6
Django==5.0
django-pwa==1.1.0
django-simple-bulma==2.5.0
h11==0.14.0
libsass==0.22.0
msgpack==1.0.7
psycopg2==2.9.9
python-dotenv==1.0.0
redis==5.0.1
sqlparse==0.4.4
tzdata==2023.3
uvicorn[standard]==0.24.0.post1
