{% extends 'base.html' %}
{% load category_tags %}
{% block content %}

<style>

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

.fade-out {
    animation-name: fadeOut;
    animation-duration: 1s; /* or however long you want the fade out to take */
    animation-fill-mode: forwards; /* this ensures the element stays hidden after animation */
}

@media (max-width: 600px) {
    .input, .button {
        font-size: 1.2em; /* Larger font size */
    }

    .control {
        margin-bottom: 10px; /* More space between controls */
    }


    .box {
      /* Adjust the max-height to make boxes shorter on mobile */
      /*max-height: 100px; /* You can adjust the max-height as needed */
      overflow: hidden; /* Hide content that overflows the max-height */
    }


    .media-right {
        margin-top: 10px; /* Space above buttons in each task */
    }
}


</style>

<div class="container">
    <div class="section">
        <div class="box">
            <form method="post" action="{% url 'create_task' %}">
                {% csrf_token %}
                <div class="field has-addons">
                    <div class="control is-expanded">
                        <input class="input" type="text" name="title" placeholder="Add new Task...">
                    </div>
                    <div class="control" style="display: none;"> <!-- Optionally hidden category selection -->
                        <div class="select">
                            <select name="category">
                                <option value="">Auto-select Category</option>
                                {% for category in categories %}
                                <option value="{{ category.id }}">{{ category.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="control">
                        <button type="submit" class="button is-primary"><i class="fas fa-plus"></i> Add Task</button>
                    </div>
                </div>
            </form>
        </div>

 

        {% for category in categories %}
    {% if category.tasks.exists %}
        <div class="box">
            <h2 class="title is-4">{{ category.name }}</h2>
            {% for task in category.tasks.all %}
                <div class="box" id="task-{{ task.id }}">
                    <article class="media">
                        <div class="media-content">
                            <div class="content">
                                <h3 id="task-title-{{ task.id }}" class="{% if task.completed %}has-text-grey-light is-striked{% endif %}">
                                    <strong>{{ task.title }}</strong>
                                    <span class="tag is-light"><i class="{{ category.icon }}"></i></span>
                                </h3>
                            </div>
                        </div>
                        <div class="media-right">
                            <a href="javascript:void(0);" id="complete-button-{{ task.id }}" class="button is-success" onclick="completeTask('{{ task.id }}');">
                                <i class="fas fa-check"></i>
                            </a>
                        </div>
                    </article>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endfor %}
   
{% with uncategorized_category=categories|get_uncategorized %}
{% if uncategorized_tasks.exists %}
<div class="box">
    <h2 class="title is-4">{{ uncategorized_category.name }}</h2>
    {% for task in uncategorized_tasks %}
        <div class="box" id="task-{{ task.id }}">
            <article class="media">
                <div class="media-content">
                    <div class="content">
                        <h3 id="task-title-{{ task.id }}" class="{% if task.completed %}has-text-grey-light is-striked{% endif %}">
                            <strong>{{ task.title }}</strong>
                            <span class="tag is-light"><i class="{{ uncategorized_category.icon }}"></i></span> <!-- Updated Line -->
                        </h3>
                    </div>
                </div>
                <div class="media-right">
                    <a href="javascript:void(0);" id="complete-button-{{ task.id }}" class="button is-success" onclick="completeTask('{{ task.id }}');">
                        <i class="fas fa-check"></i>
                    </a>
                </div>
            </article>
        </div>
    {% endfor %}
</div>
{% endif %}
{% endwith %}

</div>
</div>
</div>

<script>



const wsScheme = window.location.protocol === 'https:' ? 'wss://' : 'ws://';
const taskSocket = new WebSocket(
    wsScheme + window.location.host + '/ws/tasks/'
);

taskSocket.onmessage = function(e) {
    const data = JSON.parse(e.data);
    console.log("WebSocket message received:", data);

  
    
    if (data.action === 'created') {
        console.log("Task Created:", data.task_id);
    // Create a new task element and add it to the task list
    const newTaskElement = document.createElement('div');
    newTaskElement.id = 'task-' + data.task_id;
    newTaskElement.innerHTML = `
        <div class="box">
            <article class="media">
                <div class="media-content">
                    <div class="content">
                        <h3 id="task-title-${data.task_id}" class="">
                            <strong>${data.title}</strong> 
                        </h3>
                    </div>
                </div>
                <div class="media-right">
                    <a href="javascript:void(0);" id="complete-button-${data.task_id}" class="button is-success" onclick="completeTask('${data.task_id}');">
                        <i class="fas fa-check"></i>
                    </a>
                </div>
            </article>
        </div>`;
    document.querySelector('.section').appendChild(newTaskElement);
    } else if (data.action === 'completed') {
        console.log("Task marked as completed:", data.task_id);
        // Mark the task as completed
        document.getElementById('task-title-' + data.task_id).classList.add('has-text-grey-light', 'is-striked');
        let completeButton = document.getElementById('complete-button-' + data.task_id);
        completeButton.innerHTML = '<i class="fas fa-undo"></i>';
        completeButton.classList.replace('is-success', 'is-warning');
    } else if (data.action === 'undone') {
        console.log("Task marked as undone:", data.task_id);
        // Undo the completion of the task
        document.getElementById('task-title-' + data.task_id).classList.remove('has-text-grey-light', 'is-striked');
        let completeButton = document.getElementById('complete-button-' + data.task_id);
        completeButton.innerHTML = '<i class="fas fa-check"></i>';
        completeButton.classList.replace('is-warning', 'is-success');
    } else if (data.action === 'deleted') {
        console.log("Task deleted:", data.task_id);
        // Remove the task from the task list
        const taskElement = document.getElementById('task-' + data.task_id);
        if (taskElement) {
            taskElement.remove();
        }
    }
};

taskSocket.onclose = function(e) {
    console.error('Task socket closed unexpectedly');
};



    var taskTimeouts = {};
    function completeTask(taskId) {
    console.log('Complete Task clicked for taskId:', taskId);
    // Add strikethrough and change button immediately
    document.getElementById('task-title-' + taskId).classList.add('has-text-grey-light', 'is-striked');
    let completeButton = document.getElementById('complete-button-' + taskId);
    completeButton.innerHTML = '<i class="fas fa-undo"></i>';
    completeButton.classList.replace('is-success', 'is-warning');
    completeButton.setAttribute('onclick', `undoCompleteTask(${taskId}); return false;`);

    // AJAX POST request to the complete_task view
    fetch(`/complete_task/${taskId}/`, {
        method: 'POST',
        headers: {
            'X-CSRFToken': getCookie('csrftoken'),
            'Content-Type': 'application/json'
        }
    })
    .then(response => response.json())
    .then(data => {
        console.log('Task completion response:', data);

        let countdown = 5; // Initial countdown value in seconds

        // Log the countdown in the console
        const countdownInterval = setInterval(function() {
            console.log('Countdown:', countdown);
            countdown--;

            if (countdown < 0) {
                clearInterval(countdownInterval);
                deleteTask(taskId);
            }
        }, 1000); // Log every 1 second (1000 milliseconds)
    })
    .catch(error => console.error('Error:', error));
    }


function undoCompleteTask(taskId) {
    console.log('Undo Complete Task clicked for taskId:', taskId);
    // Clear the timer to stop the task deletion
    clearTimeout(taskTimeouts[taskId]);
    delete taskTimeouts[taskId];

    // AJAX POST request to the undo_complete_task view
    fetch(`/undo_complete_task/${taskId}/`, {
        method: 'POST',
        headers: {
            'X-CSRFToken': getCookie('csrftoken'),
            'Content-Type': 'application/json'
        }
    })
    .then(response => response.json())
    .then(data => {
        console.log('Task undo completion response:', data);
        // Remove strikethrough and change button back after successful response
        document.getElementById('task-title-' + taskId).classList.remove('has-text-grey-light', 'is-striked');
        let completeButton = document.getElementById('complete-button-' + taskId);
        completeButton.innerHTML = '<i class="fas fa-check"></i>';
        completeButton.classList.replace('is-warning', 'is-success');
        completeButton.setAttribute('onclick', `completeTask(${taskId}); return false;`);
    })
    .catch(error => console.error('Error:', error));
}


    function deleteTask(taskId) {
    fetch(`/delete_task/${taskId}/`, {
        method: 'POST',
        headers: {
            'X-CSRFToken': getCookie('csrftoken')
        }
    })
    .then(response => {
        if (!response.ok) {
            throw new Error('Network response was not ok: ' + response.statusText);
        }
        return response.json();
    })
    .then(data => {
        if (data.status === 'success') {
            var taskElement = document.getElementById('task-' + taskId);
            taskElement.classList.add('fade-out');
            taskElement.addEventListener('animationend', function() {
                taskElement.remove();
            });
        }
    })
    .catch(error => {
        console.error('There was a problem with the fetch operation:', error);
    });
}
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
</script>


<style>
    .is-striked {
        text-decoration: line-through;
    }
</style>

{% endblock %}
