{% extends 'base.html' %}
{% load category_tags %}
{% load static %}
{% block content %}

<style>

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

.fade-out {
    animation-name: fadeOut;
    animation-duration: 1s; /* or however long you want the fade out to take */
    animation-fill-mode: forwards; /* this ensures the element stays hidden after animation */
}

@media (max-width: 600px) {
    .input, .button {
        font-size: 1.2em; /* Larger font size */
    }

    .control {
        margin-bottom: 10px; /* More space between controls */
    }


    .box {
      /* Adjust the max-height to make boxes shorter on mobile */
      /*max-height: 100px; /* You can adjust the max-height as needed */
      overflow: hidden; /* Hide content that overflows the max-height */
    }


    .media-right {
        margin-top: 10px; /* Space above buttons in each task */
    }
}


</style>
<a href="{% url 'uncategorized_tasks' %}" class="button is-primary">Uncategorized</a>

<div class="container">
    <div class="section">
        <div class="box">
            <form method="post" action="{% url 'create_task' %}">
                {% csrf_token %}
                <div class="field has-addons">
                    <div class="control is-expanded">
                        <input class="input" type="text" name="title" placeholder="Add new Task...">
                    </div>
                    <div class="control" style="display: none;"> <!-- Optionally hidden category selection -->
                        <div class="select">
                            <select name="category">
                                <option value="">Auto-select Category</option>
                                {% for category in categories %}
                                <option value="{{ category.id }}">{{ category.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="control">
                        <button type="submit" class="button is-primary"><i class="fas fa-plus"></i> Add Task</button>
                    </div>
                </div>
            </form>
        </div>

 

        {% for category in categories %}
    {% if category.tasks.exists %}
        <div class="box" id="category-{{ category.id }}">
            <h2 class="title is-4">{{ category.name }}</h2>
            {% for task in category.tasks.all %}
                <div class="box" id="task-{{ task.id }}" data-category-id="{{ category.id }}">
                    <article class="media">
                        <div class="media-content">
                            <div class="content">
                                <h3 id="task-title-{{ task.id }}" class="{% if task.completed %}has-text-grey-light is-striked{% endif %}">
                                    <strong>{{ task.title }}</strong>
                                    <span class="tag is-light"><i class="{{ category.icon }}"></i></span>
                                </h3>
                            </div>
                        </div>
                        <div class="media-right">
                            <a href="javascript:void(0);" id="complete-button-{{ task.id }}" class="button is-success" onclick="completeTask('{{ task.id }}');">
                                <i class="fas fa-check"></i>
                            </a>
                        </div>
                    </article>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endfor %}
   
{% with uncategorized_category=categories|get_uncategorized %}
{% if uncategorized_tasks.exists %}
<div class="box">
    <h2 class="title is-4">{{ uncategorized_category.name }}</h2>
    {% for task in uncategorized_tasks %}
        <div class="box" id="task-{{ task.id }}" data-category-id="">
            <article class="media">
                <div class="media-content">
                    <div class="content">
                        <h3 id="task-title-{{ task.id }}" class="{% if task.completed %}has-text-grey-light is-striked{% endif %}">
                            <strong>{{ task.title }}</strong>
                            <span class="tag is-light"><i class="{{ uncategorized_category.icon }}"></i></span> <!-- Updated Line -->
                        </h3>
                    </div>
                </div>
                <div class="media-right">
                    <a href="javascript:void(0);" id="complete-button-{{ task.id }}" class="button is-success" onclick="completeTask('{{ task.id }}');">
                        <i class="fas fa-check"></i>
                    </a>
                </div>
            </article>
        </div>
    {% endfor %}
</div>
{% endif %}
{% endwith %}

</div>
</div>
</div>

<script src="{% static 'js/task-list.js' %}"></script>


<style>
    .is-striked {
        text-decoration: line-through;
    }
</style>

{% endblock %}
