{% extends 'base.html' %}

{% block content %}
<div class="section">
    <div class="container">
        <!-- Mobile app header -->
        <div class="mobile-header">
            <div class="back-button" onclick="goBack()"><i class="fas fa-arrow-left"></i></div>
            <div>Login</div>
        </div>

        <div class="columns is-centered">
            <div class="column is-8-mobile is-5-tablet is-4-desktop is-3-widescreen">
                <form action="{% url 'login' %}" method="post" class="box">
                    {% csrf_token %}
                    <div class="field">
                        <label for="username" class="label">Username</label>
                        <div class="control has-icons-left">
                            <input type="text" name="username" id="username" placeholder="Your Username" class="input" required>
                            <span class="icon is-small is-left">
                                <i class="fa fa-user"></i>
                            </span>
                        </div>
                    </div>

                    <div class="field">
                        <label for="password" class="label">Password</label>
                        <div class="control has-icons-left">
                            <input type="password" name="password" id="password" placeholder="Your Password" class="input" required>
                            <span class="icon is-small is-left">
                                <i class="fa fa-lock"></i>
                            </span>
                        </div>
                    </div>

                    <div class="field">
                        <button type="submit" class="button is-success">
                            Login
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<script>
    /* Go back function */
    function goBack() {
        window.history.back();
    }
</script>

<style>
    /* Add mobile-specific styles here */
    @media screen and (max-width: 768px) {
        /* Adjust styles for mobile screens */
        /* ... */

        /* Mobile app header style */
        .mobile-header {
            background-color: #007BFF;
            color: #fff;
            padding: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .back-button {
            font-size: 24px;
            cursor: pointer;
        }
    }
</style>

{% endblock %}
