{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Uncategorized items" %}{% endblock %}

{% block content %}
<a href="{% url 'list' %}" class="button is-primary">{% trans "Back to list" %}</a>
<section class="section">
  <form method="post" action="{% url 'save_category_for_task' %}">
    {% csrf_token %}
    <div class="container">
      <div class="box">
        <h1 class="title">{% trans "Uncategorized items" %}</h1>
        <p class="subtitle">{% trans "List of all items that are not categorized" %}</p>
        <table class="table is-fullwidth">
          <thead>
            <tr>
              <th>{% trans "Item name" %}</th>
              <th>{% trans "Category" %}</th>
              <th>{% trans "Actions" %}</th>
            </tr>
          </thead>
          <tbody>
            {% for task in tasks %}
            <tr>
              <td>{{ task.title }}</td> <!-- Adjust to match your Task model's attribute -->
              <td>
                <select name="category_for_task_{{ task.id }}">
                  <option value="">{% trans "Select a category" %}</option>
                  {% for category in categories %}
                  <option value="{{ category.id }}">{{ category.name }}</option>
                  {% endfor %}
                </select>
              </td>
              <td>
                <button type="submit" name="save_task" value="{{ task.id }}" class="button is-primary">{% trans "Save" %}</button>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </form>
</section>
{% endblock %}
